 body{

background-color: beige !important;

 }
 .font{

text-align: center;
font-family: cursive;
color: rgb(78, 67, 51);

 }
 .card {
      border: none !important;
      border-radius: 12px;
      overflow: hidden;
     
    font-size: 0.85rem !important;

      
    }

     .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      
      
    }

      .card-title {
      font-size: 0..8rem !important;
      font-weight: 200;
      margin-bottom: 0.5rem;
    }

    /* .card-text {
      font-size: 1.1rem;
      font-weight: bold;
      color: #28a745;
    } */

    .btn-buy {
      margin-top: auto;
    }

   .img {
    height: 140px;
    width: auto;
    margin-top: 1px;
    display: block;
    object-fit: contain;
    background-color: #f5f5f5;
    padding: 0.5rem;
  }

  